/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Media queries for responsive design are at the bottom */

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.container{
    position: absolute;
    left: 50%;
    top: 20%;
    text-transform:uppercase;
}
/* Portrait layout (default) */
.app {
    position: absolute;
    text-transform:uppercase;
    bottom: 0px;
    left: 50%;
    height: 50px;                   /* text area height */
    width: 225px;                   /* text area width */
    text-align: center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:150px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.buttonContainer{
    margin:0em 0em 0em -12.5em; /* offset  horizontal: twice the button width */
    margin-top: 1em;
}
.button{
    display: inline-block;
    position: relative;
    float: left;
    background-color:#FF6633;
    height: 6em;
    width: 6em;
    color: #FFFFFF;
    margin: 0.5em;
    padding: 3em 3em;
    text-align: center;
    overflow: hidden;
}
.button:hover{
    opacity: 0.6;
}
h1 {
    font-size:4em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    margin-bottom: 10px;
}

.cat{
    width: 40px;
    height: 40px;
    margin: 0px 15px;
    vertical-align: middle;
}

/* Battery icon 
 * This CSS battery shape will be controlled by a javascript function to display the charge level.
 */
.batteryContainer{
    
}
.batteryTop{
    margin-top: -1.2em;
    height: 0.1em;
    width: 1em;
    background-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-bottom: -0.2em;
}
.batteryBottom{
    position: relative;
    height: 7em;
    width: 3em;
    text-align: center;
    border-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.batteryLevel{
    position:absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
    height: 90%;

}
/* Battery charging animation */
/* Chrome, Safari, Opera */
@-webkit-keyframes batteryCharging
{
0%   {height: 0%; background-color: yellow;}
25%  {height: 25%; background-color: yellow;}
50%  {height: 50%; background-color: white;}
75%  {height: 75%}
100% {height: 100%}
}

/* Standard syntax */
@keyframes batteryCharging
{
0%   {height: 0%; background-color: yellow;}
25%  {height: 25%; background-color: yellow;}
50%  {height: 50%; background-color: white;}
75%  {height: 75%}
100% {height: 100%}
}
/* Multimedia controls */
.playControl{
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-top: 3.5em solid transparent;
    border-left: 7em solid white;
    border-bottom: 3.5em solid transparent;
}
.pauseControl{
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 7em;
    width: 5em;
    background-color: #FFFFFF;
}
.pauseControl-mid{
    display: inline-block;
    position:absolute;
    right: 1.75em;
    height: 100%;
    width: 1.5em;
    background-color: #FF6633;
}

/* iPad Retina */
@media (min-width: 1200px){
    .container{
        left: 25%;
        margin-top: 10%;
    }
    .button{
        height: 10em;
        width: 10em;
        padding: 5em 5em;
    }
    h1 {
        margin-top: 0.5em;
        font-size:7em;
    }
    .cat{
        width: 118px;
        height: 118px;
    }
}
/* iPhone 5 or iPad Landscape mode */
@media (min-width: 909px) and (max-width: 1199px){
    .container{
        left: 25%;
        margin-top: 10%;
    }
  .button{
        height: 8em;
        width: 8em;
        padding: 4em 4em;
    }
    h1 {
        margin-top: 0.5em;
        font-size:6em;
    }
    .cat{
        width: 90px;
        height: 90px;
    }
}
/* BlackBerry 10, Nexus 7, iPhone (Landscape)*/
@media (min-width: 641px) and (max-width: 908px){
    .buttonContainer{
        margin-right: 30%;
    }
}
/* iPhone <= 5*/
@media (min-width: 320px) and (max-width: 640px){
  .button{
        height: 5em;
        width: 5em;
        padding: 2.5em 2.5em;
        margin: 0.2em;
    }
    .buttonContainer{
        margin:0em 0em 0em -11em; /* offset  horizontal: twice the button width */
        margin-right: 10%;
    }
    h1 {
        margin-top: 0.5em;
        font-size:3em;
    }
    .cat{
        width: 30px;
        height: 30px;
    }
    .playControl{
        border-top: 2.5em solid transparent;
        border-left: 6em solid white;
        border-bottom: 2.5em solid transparent;
    }
    .pauseControl{
        height: 6em;
    }
}